<a href="#/travel/{{event.travel}}">{{travel.description}}</a>

<div>
  <h3>{{event.description}}</h3>
  <div>
    <div>
      At {{event.location}}
    </div>

    <div>
      From <span>{{event.time[0] | date:'medium'}}</span>
    </div>
    <div>
      To <span>{{event.time[1] | date:'medium'}}</span>
    </div>

    <h4>Participants</h4>
    <ul>
      <li ng-repeat="(userId, dummy) in event.users">
        <img ng-src="{{users[userId].imageUrl}}"
             title="{{users[userId].name}}"
             alt="{{users[userId].name}}">
      </li>
    </ul>

    <h4>Photos</h4>
    <img ng-repeat="(dummy, imageUrl) in event.photos" ng-src="{{imageUrl}}">

    <h4>Expenses</h4>
    <div ng-repeat="expense in event.expenses">
      <h5>{{expense.description || "No title"}}</h5>
      <ul>
        <li ng-repeat="(userId, payerInfo) in expense.payers">
          {{users[userId].name}}: {{payerInfo.cost | currency:"$"}}
        </li>
      </ul>
    </div>
  </div>
</div>
