<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TravelPal</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">TravelName</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h1>Travel Name  <small>Subtext</small> </h1>
  </div>
  <h3></h3> <p></p>
  <div class="row content-block" style="height: 256px;">
    <div class="col-md-12">Map Container</div>
  </div>

  <h4>Travelers</h4>
  <div class="row content-block">
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-2">.col-md-2</div>
  </div>

  <h3>Events</h3>
  <div class="row content-block">
    <div class="col-md-12">.col-md-12</div>
  </div>
  <div class="row content-block">
    <div class="col-md-12">.col-md-12</div>
  </div>

  <h3>Total Expense <span class="label label-default" style:"margin-top:-23px;">10.00 USD</span> </h3>
</div>

<div>
  <h1>{{travel.description}}</h1>
  <div>
    From <span>{{travel.time[0] | date:'medium'}}</span>
  </div>
  <div>
    To <span>{{travel.time[1] | date:'medium'}}</span>
  </div>

  <h2>Participants</h2>
  <ul>
    <li ng-repeat="(userId, dummy) in travel.users">
      <img ng-src="{{users[userId].imageUrl}}"
           title="{{users[userId].name}}"
           alt="{{users[userId].name}}">
    </li>
  </ul>

  <h2>Events</h2>
  <div ng-repeat="event in travel.events">
    <h3>{{event.description}}</h3>
    <div>
      <div>
        At {{event.location}}
      </div>

      <div>
        From <span>{{event.time[0] | date:'medium'}}</span>
      </div>
      <div>
        To <span>{{event.time[1] | date:'medium'}}</span>
      </div>

      <h4>Participants</h4>
      <ul>
        <li ng-repeat="(userId, dummy) in event.users">
          <img ng-src="{{users[userId].imageUrl}}"
               title="{{users[userId].name}}"
               alt="{{users[userId].name}}">
        </li>
      </ul>

      <h4>Photos</h4>
      <img ng-repeat="(dummy, imageUrl) in event.photos" ng-src="{{imageUrl}}">

      <h4>Expenses</h4>
      <div ng-repeat="expense in event.expenses">
        <h5>{{expense.description || "No title"}}</h5>
        <ul>
          <li ng-repeat="(userId, payerInfo) in expense.payers">
            {{users[userId].name}}: {{payerInfo.cost | currency:"$"}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
