<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TravelPal</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/travel/{{travelId}}">{{travel.description}}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h1>{{travel.description}} <small> {{travel.time[0] | date:'mediumDate'}} </small> </h1>
  </div>
  <h3></h3> <p></p>
  <div class="row content-block">
    <div class="col-md-12 gmap-block">
      <div id="gmap-container"></div>
      <div class="travelers">
        <img ng-repeat="(userId, dummy) in travel.users" class="travel-user-img" ng-src="{{users[userId].imageUrl}}" data-toggle="tooltip" title="{{users[userId].name}}" alt="{{users[userId].name}}">
      </div>
    </div>

  </div>

  <h3>Events</h3>
  <div class="row content-block event-card" ng-repeat="(eventId, dummy) in travel.events" ng-init="event=events[eventId]">
    <a href="#/event/{{eventId}}"> <div class="col-md-12">
      <h4>{{event.description}}
        <small> {{event.time[0] | date:'shortTime'}} on {{event.time[0] | date:'mediumDate'}} </small>
        <span class="label label-default">{{getEventExpense(eventId)}} USD</span>
      </h4>
      <img class="event-user-img" ng-repeat="(userId, dummy) in event.users" ng-src="{{users[userId].imageUrl}}" title="{{users[userId].name}}" alt="{{users[userId].name}}">
      <div class="event-imgs">
        <img class="event-img" ng-repeat="(dummy, imageUrl) in event.photos" ng-src="{{imageUrl}}">
      </div>
    </div></a>
  </div>

  <h2>Total Expense <span class="label label-default">{{getTravelExpense()}} USD</span> </h2>

</div>
